:root {

    --triangle-length: 110vh;
    --triangle-width: calc(100vw / 6);
    --triangle-color: green;
    --odd-triangle-color: yellow;
    --swirlie-thickness: 4vw;
    --swirlie-blend: 0px;
    --swirlie-length: 5px;
    --swirlie-offset: -13px;
    --swirlie-color: blue;
    --swirlie-center: 26vw;

    --swirlies-shadow-height: 95%;
    --swirlies-shadow-width: 100%;

    --odd-color: green;
    --odd-swirlie-thickness: 15vw;
    --odd-swirlie-blend: 0px;
    --odd-swirlie-length: 3px;
    --odd-swirlie-offset: -13px;
    --odd-swirlie-color: black;

    --pills-pattern-size: 16vw;
    --pills-border-size: 1px;

    --swirlies-animation-speed: 8s;
    --swirlies-animation-direction: forwards;

    --triangles-animation-speed: 8s;
    --triangles-animation-direction: reverse;
}

{
    box-sizing: border-box

}

body {
    overflow:hidden;
    background-color: var(--triangle-color);
}

@keyframes cw {
    0%   {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg);
    }
}

.swirlie-base {
    position: absolute;
    padding: 0;
    margin: 0;
    background: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swirlie {
    z-index: 2;
    animation: cw var(--swirlies-animation-speed) linear var(--swirlies-animation-direction) infinite;
}

.swirlie-triangles {
    z-index: 1;
    animation: cw var(--triangles-animation-speed) linear var(--triangles-animation-direction) infinite;

}

.swirlie-pills {
    z-index: 1;
    align-items: center;
}

.swirlie-base span {
    position: absolute;
}


.swirlie-pills span {
    width: 100vw;
    height: 110vh;
    transform: translate(-50%, -50%) rotate(calc(30deg * var(--i)));
    transform-origin: bottom right;
    border-radius: var(--pills-pattern-size);
    border: var(--pills-border-size) solid white;
}

.swirlie-triangles span {
    transform: translate(0%, -50%) rotate(calc(30deg * var(--i)));
    transform-origin: bottom;
    border: var(--triangle-width) solid transparent;
    border-bottom: 0;
    border-top: var(--triangle-length) solid transparent;
    border-radius: 300px;

}

.swirlie-triangles span:nth-child(even) {
    border-top-color: var(--odd-triangle-color);
}

.swirlie-triangles span::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;

}

.swirlie span {
    width: 100vw;
    height: 110vh;
    transform: translate(-50%, -50%) rotate(calc(30deg * var(--i)));
    transform-origin: bottom right;
    border-radius: 100vw;
}

.swirlie span::before {
    content: '';
    position: absolute;
    height: var(--swirlies-shadow-height);
    width: var(--swirlies-shadow-width);
    top: 0vh;
    left: 20vw;
    border-bottom-right-radius: var(--swirlie-center);
    box-shadow: var(--swirlie-thickness) var(--swirlie-offset) var(--swirlie-blend) var(--swirlie-length)
    var(--swirlie-color);
}

.swirlie span:nth-child(even)::before {
    box-shadow:
            var(--odd-swirlie-thickness) var(--odd-swirlie-offset) var(--odd-swirlie-blend) var(--odd-swirlie-length)
            var(--odd-swirlie-color);
}

@media only screen and (orientation: portrait) and (max-width: 500px) {
    .swirlie span::before {

        border-bottom-right-radius: 32vw;

    }
}

@media only screen and (orientation: landscape) and (max-height: 500px) {
    .swirlie span::before {

        border-bottom-right-radius: 28vw;

    }
}

